////
/// PX-CODE-DESIGN
/// Code snippet styles
/// @group px-code-design
////

@import "px-defaults-design/_settings.defaults.scss";
@import "px-colors-design/_settings.colors.scss";

/// @type String [default] - Prepend value for all generated classes
$inuit-code-namespace       : $inuit-namespace !default;

/// @type Color [default] - Font color
$inuit-code-color           : $primary-blue-pressed !default;

/// @type Color [default] - Background color
$inuit-code-background      : $gray1 !default;

/// @type Color [default] - Border color
$inuit-code-border-color    : $gray3 !default;

/// @type Boolean [default] - Produce CSS for inline code snippets?
$inuit-enable-code--inline  : false !default;

  
code {
  font-size: 1rem;
  font-family: monospace, monospace;
}

.#{$inuit-code-namespace}code,
%#{$inuit-code-namespace}code {
  border: 1px solid $inuit-code-border-color;
  padding: $inuit-base-spacing-unit;
  border-radius: 3px;
  background-color: $inuit-code-background;
  color: $inuit-code-color;
}

@if ($inuit-enable-code--inline == true) {
  
  /**
   * Slight tweaks for code inline.
   */

  .#{$inuit-code-namespace}code--inline,
  %#{$inuit-code-namespace}code--inline {
    border-radius: 0;
    padding: 0 $inuit-base-spacing-unit--tiny;
    font-size: inherit;
  }

}