////
/// PX-CODE-DESIGN
/// Code snippet styles
/// @group px-code-design
////

@import "px-defaults-design/_settings.defaults.scss";
@import "px-colors-design/_settings.colors.scss";

/// Sets a prepended value for all generated classes
///
/// @group px-code-design:variables:style
/// @type String [default]
$inuit-code-namespace       : $inuit-namespace !default;

/// Sets the code Font color.
///
/// @group px-code-design:variables:style
/// @type Color [default]
$inuit-code-color           : var(--px-code-text-color, $primary-blue-pressed) !default;

/// Sets the code Background color.
///
/// @group px-code-design:variables:style
/// @type Color [default]
$inuit-code-background      : var(--px-code-background-color, $gray1) !default;

/// Sets the code Border color.
///
/// @group px-code-design:variables:style
/// @type Color [default]
$inuit-code-border-color    : var(--px-code-border-color, $gray3) !default;

/// Generates the CSS for inline code snippets
///
/// @group px-code-design:variables:flag
/// @type Boolean [default]
$inuit-enable-code--inline  : false !default;


code {
  font-size: 1rem;
  font-family: monospace, monospace;
}

.#{$inuit-code-namespace}code,
%#{$inuit-code-namespace}code {
  border: 1px solid $inuit-code-border-color;
  padding: $inuit-base-spacing-unit;
  border-radius: 3px;
  background-color: $inuit-code-background;
  color: $inuit-code-color;
}

@if ($inuit-enable-code--inline == true) {

  /**
   * Slight tweaks for code inline.
   */

  .#{$inuit-code-namespace}code--inline,
  %#{$inuit-code-namespace}code--inline {
    border-radius: 0;
    padding: 0 $inuit-base-spacing-unit--tiny;
    font-size: inherit;
  }

}
