// Settings
@import "px-colors-design/_settings.colors.scss";

// Generic
@import "px-normalize-design/_generic.normalize.scss";
@import "px-box-sizing-design/_generic.box-sizing.scss";

// Base
@import "px-viewport-design/_base.viewport.scss";
@import "px-typography-design/_base.typography.scss";

// Code
$inuit-enable-code--inline      : true;

@import "../_base.code.scss";

// Trumps
$inuit-enable-margins--large    : true;
$inuit-enable-margins--huge     : true;

@import "px-spacing-responsive-design/_trumps.spacing-responsive.scss";